.section.contact-section{
  .cs-sep{
    width: 145px;
  }
}
.mailto {
  color: #eee;
  padding: 7px;
  transition: all 500ms ease;

  &:hover {
    background: #fff;
    color: #444;
  }
}

.mailto-wrap{
  margin: 50px;
}

.sc-item {
  background: #424242;
  cursor: pointer;
  padding: 10px;
  transition: all 500ms ease;
  width: 150px;
  margin: 10px auto;

  &:hover {
    background: #eee;

    .sc-link {
      color: #424242;
    }
  }
}

.sc-link {
  color: #eee;
  text-transform: capitalize;
  transition: all 500ms ease;
}

@media screen and (min-width: 900px) {
  .section.contact-section{
    .cs-sep{
      width: 300px;
    }
  }

  .sc-item{
    display: inline-block;
    margin: 0 3px;
    width: 80px;
  }
}

@media screen and (min-width: 1200px) {
}