.work-section {
  .ws-sep {
    width: 155px;
  }

  .ws-body {
    margin: auto;
    position: relative;
    text-align: left;
    width: 100%;
    max-width: 1000px;

    &:before {
      background: #4CAF50;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 4px;
    }
  }

  .work-icon {
    background: #4CAF50;
    border-radius: 50%;
    height: 18px !important;
    fill: #fff;
    left: -16px;
    padding: 10px;
    position: absolute;
    width: 18px !important;
  }

  .work-date {
    color: #eee;
    font-size: 10px;
    position: absolute;
    width: 200px;
    right: 10px;
    top: 15px;
    text-align: right;
  }

  .work-c-name {
    color: #eee;
    font-size: 16px;
    margin-bottom: 7px;
  }

  .work-c-position {
    color: #E0E0E0;
    font-size: 13px;
    margin: 7px 0;
  }

  .work-c-desc {
    color: #E0E0E0;
    letter-spacing: 0.5px;
    font-size: 12px;
    font-weight: 300;
    list-style-type: disc;
    padding-left: 15px;
  }

  .work-card {
    padding: 10px;
    position: relative;
    width: calc(100% - 40px);
    &:before {
      border: 7px solid transparent;
      content: '';
      height: 0;
      position: absolute;
      top: 8px;
      width: 0;
    }
  }

  .work-card-container {
    padding: 15px 0;

    //clearfix
    &:after {
      display: block;
      content: " ";
      clear: both;
    }

    .work-card {
      float: right;

      &:before {
        border-right: 7px solid #424242;
        right: 101%;
      }
    }
  }

  .work-c-desc-item {
    padding: 5px 0;
    line-height: 1.3;
  }
}

@media screen and (min-width: 900px) {
  .work-section {
    .ws-sep {
      width: 240px;
      margin: 10px auto 100px;
    }

    .ws-body {
      &:before {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .work-c-name {
      font-size: 20px;
    }

    .work-c-position {
      font-size: 14px;
    }

    .work-c-desc {
      font-size: 13px;
    }

    .work-icon {
      padding: 15px;
      left: 50%;
      transform: translateX(-50%);
    }

    .work-date {
      font-size: 13px;
      right: 122.22%;
      top: 13px;
    }

    .work-card {
      padding: 20px;
      width: calc(50% - 45px);
      &:before {
        top: 12px;
      }
    }

    .work-card-container {
      &:nth-of-type(odd) {
        .work-date {
          left: 122.22%;
          text-align: left;
        }
        .work-card {
          float: left;
          &:before {
            border-left: 7px solid #424242;
            left: 101%;
            border-right: 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
}